div.panel-footer form {
    display: inline;
}

div.panel-footer form input[type=number] {
    display: inline-block;
    width: 118px;
}

*[class*=ui-] {
    font-size: .875em;
}

ul.purchase, ul.sale, ul.damage, ul.instant, ul.rotation {
    list-style-type: none;
    margin: 0;
    padding: 0 0 1em 0;
}

.article-image, .article-image img {
    display:inline-block;
    max-height:150px;
    max-width:150px;
    vertical-align:top;
}

.datos {
    margin-top: 1em;
}

.justify {
    text-align: justify;
}

.right {
    text-align: right;
}

#encabezado {
    margin-bottom: 2px;
}

#encabezado ul.nav li {
    display: inline-block;
}