*[class*=ui-] {
    font-size: .875em;
}

ul.purchase, ul.sale, ul.damage, ul.instant, ul.rotation {
    list-style-type: none;
    margin: 0;
    padding: 0 0 1em 0;
}

.alcarrito {
    max-width: 10em;
    min-width: 3em;
    padding-left: 0;
    padding-right: 0;
}

.article-image, .article-image img {
    display:inline-block;
    margin: 0 2em 1.5em 0;
    max-height:150px;
    max-width:150px;
    vertical-align:top;
}

.center {
    text-align: center;
}

.datos {
    margin-top: 1em;
}

.justify {
    text-align: justify;
}

.right {
    text-align: right;
}

.pagination {
    display: block;
}

#encabezado {
    margin-bottom: 2px;
}

#encabezado ul.nav li {
    display: inline-block;
}

@media screen and (min-width: 1200px) {

    .articulo {
        display: inline-block;
        float: none;
        vertical-align: top;
        width: 49%;
    }

}
