<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
	RewriteBase /inventarios
	RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
